.layoutContainer {
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
}

.contentContainer {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-areas: "canvas interaction-menu";
    background-color: blue;
    max-width: 1500px;
    width: 1500px;
    height: 500px;
}

.CanvasContainer {
    height: 100%;
    width: 100%;
    grid-area: canvas;
}